@model IEnumerable<RAB.Models.Utama.KomponenKoordinat>

<div>
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.KoorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KompId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TitikZatas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TitikZbawah)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int No = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@No</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Koordinat.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PolaKomponen.Komponen.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitikZatas.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TitikZbawah.Nama)
                        </td>
                        <td>
                            <a onclick="tampilDiPopUp('@Url.Action("AddOrEdit","KomponenKoordinat",new { komKoorId=item.KompKoorId,add=false},Context.Request.Scheme)','Rubah Komponen Koordinat')"
                               class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-marker fa-sm"> Edit</i>
                            </a>
                            <form asp-action="Delete" asp-route-id="@item.KompKoorId" onsubmit="return jQueryAjaxDeleteSimple(this)" class=" d-inline">
                                <input type="submit" value="Hapus" class="btn btn-sm btn-danger" />
                            </form>
                        </td>
                    </tr>
                    No++;
                }
            </tbody>
        </table>
</div>